In [20]:
import pandas as pd

# Read the data from the Excel file
data = pd.read_excel(io="pretreatment.xlsx", sheet_name="Sheet2")
data.head()

   Unnamed: 0  Turbidity  Flow  Ferric        DP
0         NaN       48.0   280   29.70  0.006765
1         NaN       40.0   282   29.82  0.007311
2         NaN       37.0   280   26.33  0.007888
3         NaN       40.0   280   26.82  0.008497
4         NaN       40.0   288   27.70  0.009139

In [21]:
data = data.drop('Unnamed: 0', axis=1)
turbidity_column = data["Turbidity"]
turbidity_column

0       48.00
1       40.00
2       37.00
3       40.00
4       40.00
        ...
2020     6.82
2021     6.81
2022     6.73
2023     6.21
2024     6.97
Name: Turbidity, Length: 2025, dtype: float64

In [22]:
min_value = data['Turbidity'].min()
min_value

1.23

In [23]:
max_value = data['Turbidity'].max()
max_value

309.0

In [39]:
weights = data['Turbidity'].value_counts()
random_value = data['Turbidity'].sample(n=1, weights=weights)

random_value = random_value.to_list()
random_value[0]

8.71